<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clothes_Management.Properties.Settings.ClothDataConnectionString"
            connectionString="Provider=&quot;Microsoft.ACE.OLEDB.16.0;Data Source=D:/source/repos/Clothes_Management/Clothes_Management/ClothData.accdb&quot;;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
